git+https://github.com/pyrogram/pyrogram@master
pytgcalls[pyrogram]
parse-torrent-name
tgcrypto
yt-dlp
youtube_search_python
youtube_search
heroku3
pillow
motor
dnspython
pytz
apscheduler
python-dotenv
